<h1><%= @movies.title %></h1>
<p>Created: <%= @movies.creation_year %></p>
<p>Genre: <%= @movies.genre %></p>
Actors in film:
<% @movies.actors.each do |actor| %>
<%= actor.name %>, age: <%= actor.age %>
