<h1> <%= @movie.title %></h1>
<h1> <%= @movie.creation_year %></h1>
<h1> <%= @movie.genre %></h1>

<% @movie.actors_age.each do |actor| %>
  <h3><%= actor.name %></h3>
  <% end %>
<h5> Average Age: <%= @movie.ave_age %> </h5>
