  <h1>Title: <%= @movie.title %></h1>
  <h3>Creation Year: <%= @movie.creation_year %></h3>
  <h3>Genre: <%= @movie.genre %></h3>

  <p>Actors on this movie: <%= @movie.actors_age_ascending %> </p>
  <p>Average Age of all Actors on this Movie: <%= @movie.average_actors_age %> </p>
