<h1><%= @movie.title %></h1>
<p><%= @movie.creation_year %></p>
<p><%= @movie.genre %></p>
<p><% @movie.actors.order_by_age.each do |actor| %></p>
  <%= actor.name %>
<% end %>
<p>Average age of actors: <%= @movie.actors.average_age.round(2) %></p>
