<h2><%= @movie.title %></h2>

<h4>Creation Year: <%= @movie.creation_year %></h4>

<h4>Genre: <%= @movie.genre %></h4>

<h2>Actors:</h2>

<div id='actors'>
<% @movie.actors_by_age.each do |actor| %>
  <h4><%= actor.name %></h4>
  <ul>
    <li>Age: <%= actor.age %></li>
  </ul>
<% end %>
</div>

<h2>Average Age of Actors: </h2><%= @movie.average_actor_age.round(2) %><br>

  <h3>Add an Actor:</h3>
  <%= form_with url: "/actor_movies", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.search_field :name %>
  <%= form.hidden_field :movie_id, :value => @movie.id %>
  <%= form.submit "Submit" %> 
<% end %>
