<p>Title: <%= @movie.title %></p>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<% @movie.actors.each do |actor| %>
  <%= actor.name %>
<% end %>

<p>Average Age of Actors: <%= Actor.average_age %></p>
