<h1 id="title"><%= @movie.title %></h1>

<div id="info">
  <p>Creation Year:
    <%= @movie.creation_year %></p>
  <p>Genre:
    <%= @movie.genre %></p>
</div>

<div id="actors">
  <% @movie.age_sorted_actors.each do |actor| %>
    <p>
      <%= actor.name %>
      <%= actor.age %>
    </p>
  <% end %>
  <p>Average Age:
    <%= @movie.actors_average_age %></p>
</div>