<h1><%= @movie.title %></h1>
<h2><%= @movie.creation_year %></h2>
<h3><%= @movie.genre %></h3>

<h2><%= "Actors in this movie" %></h2>
<section id="Actors">
<% @actors.each do |actor| %>
<p><%= "#{actor.name}"%><br>
<%= "age: #{actor.age}" %></section></p>
<% end %>
<section id="Average">
<h2><%="Average age of all actors: #{@average_age}" %></h2></section>

Add An Actor
<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |form| %>
  <%= form.label "ActorName" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit" %>
<% end %>
